.inputBox {
  position: relative;
}

.inputBox input {
  width: 100%;
  padding: 0.5rem;
  border: 0px;
  background: transparent;
  outline: none;
  color: #f5e6d3;
  font-size: 1em;
  border-bottom: 2px solid #8b6f47;
}

.inputBox span {
  position: absolute;
  left: -0.6rem;
  padding: 0.6rem;
  pointer-events: none;
  font-size: 1em;
  color: rgba(245, 230, 211, 0.4);
  transition: 0.2s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #8b6f47;
  transform: translateY(-1.2rem);
  font-size: 0.7rem;
}
